body {
    /*background-color: #C1EDFF;*/
    background-color: #080E33;
    /*background-image: url('../images/html2.png');*/
    font-family: 'Assistant', sans-serif;
}
#howToPlayDiv {
   z-index:3;
   height:50%;
   background-color:white;
}
#movie {
    margin-bottom: -300px;
    margin-top: -1px;
    margin-right: -582px;
    position: relative;
    top: 45px;
    right: 286px;
}

#gameIframe {
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    /*box-shadow: 4px 4px 30px white;
    border: 2px dashed;
    border-color: #54BFFF;*/
}


#gameArea {
    overflow: hidden;
    position: relative;
    height: 80vh;
    width: 90vw;
    margin: 0 auto;
}

.hide {
    display: none;
}

header {
    /*background-color: rgb(212,212,212);*/
    background-color: rgb(212,212,212);
    /* background-color: #54BFFF; */
    border-radius: 3px;
    border: 1px dashed;
    border-color: white;
    width: 100%;
    height: 50px;
    position: relative;
    direction: rtl;
    display: block;
    direction: rtl;
    z-index: 3;
    opacity: 0.8;
}

    /*כותרת משחק*/
    header > a > p {
        font-family: 'Assistant', sans-serif;
        font-size: 12pt;
        font-weight: 600;
        position: relative;
        top: -10px;
        color: black;
        display: inline-block;
        direction: rtl;
    }

/*לוגו*/
#logo {
    width: 35px;
    height: 35px;
    padding: 5px 15px;
    direction: rtl;
}

nav {
    margin-top: -70px;
    margin-left: 10px;
    direction: rtl;
}

    nav ul {
        list-style: none;
        direction: rtl;
    }

        nav ul li {
            display: inline-block;
            float: left;
            direction: rtl;
        }

            nav ul li a {
                display: block;
                color: rgb(30, 104, 177);
                text-align: center;
                padding: 3px 10px;
                font-weight: 400;
                font-size: 12pt;
                /*font-family: 'Assistant', sans-serif;*/
                font-family:Calibri;
                direction: rtl;
                text-decoration: none;
            }

                nav ul li a:hover {
                    font-weight: 600;
                    cursor: pointer;
                    /*font-family: 'Assistant', sans-serif;*/
                    font-family:Calibri;
                    direction: rtl;
                    text-decoration: none;
                }

.popUp {
    background-color: white;
    width: 400px;
    position: fixed;
    top: 60px;
    z-index: 4;
    text-align: center;
    width: 700px;
    border-radius: 25px;
    padding: 10px;
    padding-bottom: 25px;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    direction: rtl;
    border: 1px solid black;
}

#logoHIT {
    width: 100px;
}

.bounceInDown {
    -webkit-animation-name: bounceInDown;
    animation-name: bounceInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes bounceInDown {
    0%, 60%, 75%, 90%, 100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -3000px, 0);
        transform: translate3d(0, -3000px, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, 25px, 0);
        transform: translate3d(0, 25px, 0);
    }

    75% {
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0);
    }

    90% {
        -webkit-transform: translate3d(0, 5px, 0);
        transform: translate3d(0, 5px, 0);
    }

    100% {
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes bounceInDown {
    0%, 60%, 75%, 90%, 100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -3000px, 0);
        transform: translate3d(0, -3000px, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, 25px, 0);
        transform: translate3d(0, 25px, 0);
    }

    75% {
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0);
    }

    90% {
        -webkit-transform: translate3d(0, 5px, 0);
        transform: translate3d(0, 5px, 0);
    }

    100% {
        -webkit-transform: none;
        transform: none;
    }
}
